section.customer-reviews {
  margin: 91px 0;
  @include media-breakpoint-down(lg) {
    margin: 59px 0 50px;
  }

  .customer-reviews {
    &__wrap {
      padding-bottom: 29px;
    }

    &__list {
      opacity: 0;
      margin: 33px -7.5px 0;
      padding-bottom: 25px;

      .slick-slide {
        padding: 0 7.5px;
      }
    }
  }
}
